.header {
  position: absolute;
  top: 0;
  color: black;
  z-index: 1;
  display: flex;
  justify-content: center;
  padding: 35px;

  .logo {
    display: flex;
    align-items: center;
    cursor: pointer;

    p {
      margin: 8px 4px;
      transition: all 0.5s cubic-bezier(0.76, 0.24.1);
    }

    .name {
      display: flex;
      overflow: hidden;
      white-space: nowrap;
      position: relative;

      .codeBy {
        padding-left: 0.3em;
      }

      .onkar {
        padding-left: 0.3em;
      }

      .patel {
        position: absolute;
        left: 150px;
        padding-left: 0.3em;
      }
    }

    &:hover {
      .name {
        padding-left: 30px;

        .codeBy {
          transform: translateX(-100%);
        }

        .onkar {
          transform: translateX(-100px);
        }

        .patel {
          transform: translateX(-105px);
        }
      }
    }
  }
}

.headerButtonContainer {
  // transform: scale(0);
  position: fixed;
  right: 0px;
  z-index: 4;

  .button {
    position: relative;
    margin: 20px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #1c1d20;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .burger {
    width: 100%;
    position: relative;
    z-index: 1;
    &::after,
    &::before {
      content: '';
      display: block;
      height: 1px;
      width: 40%;
      margin: auto;
      background-color: white;
      position: relative;
      transition: transform 0.3s;
    }

    &::after {
      top: -5px;
    }

    &::before {
      top: 5px;
    }
  }

  .burgerActive {
    &::after {
      transform: rotate(45deg);
      top: -1px;
    }

    &::before {
      transform: rotate(-45deg);
      top: 0px;
    }
  }
}
