.project {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0px 50px 0px;
  border-top: 1px solid rgb(201, 201, 201);
  cursor: pointer;
  padding-left: 6vw;
  transition: all 0.2s;

  .projectTitle {
    width: 70%;
    text-align: left;

    h2 {
      font-size: 60px;
      margin: 0px;
      font-weight: 400;
      transition: all 0.4s;
    }
  }

  .projectMeta {
    width: 30%;
    text-align: left;
    white-space: nowrap;
    padding-right: 3vw;
    padding-left: 3vw;
  }

  p {
    transition: all 0.4s;
    font-weight: 300;
  }

  &:last-of-type {
    border-bottom: 1px solid rgb(201, 201, 201);
  }

  &:hover {
    opacity: 0.5;

    h2 {
      transform: translateX(-10px);
    }

    p {
      transform: translateX(10px);
    }
  }
}
