.hero {
  position: relative;
  display: flex;
  width: 100%;
  height: 100vh;
  user-select: none;
  align-items: center;
  justify-content: center;
  padding-top: 10vh; // 10% viewport height above
  padding-bottom: 10vh; // 10% viewport height below

  &__titles {
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 900;
    text-transform: uppercase;
    color: black;
    font-size: clamp(3rem, 10vw, 7rem);
    font-family: var(--font-cabinet);

    max-width: 90vw;
    width: fit-content;
    text-align: center;
  }

  &__title {
    overflow: hidden;

    h1 {
      transform: translateY(200%);
    }

    &--outline h1 {
      -webkit-text-stroke: 2px black;
      color: transparent;
    }
  }

  &__imageContainer {
    position: absolute;
    width: 80%;
    overflow: hidden;
    border-radius: 10px;
    margin: 0 auto;
  }

  &__image {
    width: 100%;
    height: auto;
    opacity: 0.5;
    aspect-ratio: 11 / 16;
    border-radius: 0.75rem;
    transform: scale(1);

    @media (min-width: 768px) {
      aspect-ratio: 7 / 7;
    }
    @media (min-width: 1024px) {
      aspect-ratio: 11 / 9;
    }
  }
}
